 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hello there! My name is Sofia and I have a bachelor in Computer Science. My main areas of interest include artificial intelligence especially when applied in medicine and health, data science and games. I'm an applied and fast learner in everything related to these areas as well as design, web development and scientific research!</p>
                </div>
                <div class="col-lg-4">
                    <p> My bachelor thesis was named Analysis of Sleep Stages with Support Vector Machine (link <a class="link-b" href="https://skemman.is/handle/1946/35816">here</a>). I work well both in groups and alone, I think team work makes the dream work but for smaller projects one head might be better than too many! To <b>contact me</b> please refer to the Contact Me below! I look forward to hearing from you.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://skemman.is/handle/1946/35816" class="btn btn-lg btn-outline">
                        <i class="fa fa-book"></i> Bachelor Thesis
                    </a>
                </div>
            </div>
            <div class="row">
             
                    <div class="col-lg-4 col-lg-offset-2 skills">
                        <div class="skills-label"><h4>Programming Skills</h4></div>
                        <img class="img-skills" src="img\skills\programming\python.png" class="img-responsive" alt="">
                        <img class="img-skills" src="img\skills\programming\java.png" class="img-responsive" alt="">
                        <img class="img-skills" src="img\skills\programming\c++.png" class="img-responsive" alt="">
                        <img class="img-skills" src="img\skills\programming\csharp.png" class="img-responsive" alt="">
                        <img class="img-skills" src="img\skills\programming\sql.jpg" class="img-responsive" alt="">
                        <img class="img-skills-o" src="img\skills\programming\django.png" class="img-responsive" alt="">
                        <img class="img-skills" src="img\skills\programming\php.png" class="img-responsive" alt="">
                    </div>
                    <div class="col-lg-4 skills">
                        <div class="skills-label"><h4>Design Skills</h4></div>
                        <img class="img-skills" src="img\skills\design\react.png" class="img-responsive" alt="">
                        <img class="img-skills" src="img\skills\design\css.png" class="img-responsive" alt="">
                        <img class="img-skills" src="img\skills\design\javascript.png" class="img-responsive" alt="">
                        <img class="img-skills" src="img\skills\design\html.png" class="img-responsive" alt="">
                        <img class="img-skills-o" src="img\skills\design\photoshop.png" class="img-responsive" alt="">
                        <img class="img-skills-o" src="img\skills\design\illustrator.png" class="img-responsive" alt="">
                        <img class="img-skills-o" src="img\skills\design\indesign.png" class="img-responsive" alt="">
                    </div>
             
            </div>
        </div>
    </section>
