 <!-- About Section -->
 <section id="education">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Education</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4  edu">
                <h4>University of Reykjavik</h4>
                <h5>2021 - ongoing</h5>
                <center><p>Computer Science MSc.</p></center>
            </div>
            <div class="col-lg-4  edu">
                <h4>University of Reykjavik</h4>
                <h5>2017 - 2020</h5>
                <center><p>Computer Science BSc.</p></center>
            </div>
            <div class="col-lg-4 edu">
                <h4>Master D.</h4>
                <h5>2015</h5>
                <center><p>Professional Web Designer Diploma</p></center>
            </div>
            <!-- <div class="col-lg-4 edu">
                <h4>Colégio de Gaia</h4>
                <h5>2011 - 2014</h5>
                <center><p>Tecnological Degree of Informatics and Multimedia</p></center>
            </div> -->
     
        </div>
    </div>
</section>
