 <!-- About Section -->
 <section class="success" id="work">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Work</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 work">
                <ul>
                    <li class="workli">
                        <h4>Icelandic Institute for Intelligent Machines, 2020 - 2021</h4> 
                        <p>AI Research</p>
                      
                    </li>
                    <li class="workli">
                        <h4>University of Reykjavik, Summer 2019</h4> 
                       
                         <p>Research at CADIA</p>
                     
                    </li>
                    <li class="workli">
                        <h4>El Santo, 2017 - 2018</h4>
                        <p>Dishwasher, Kitchen Assistant</p>
                    </li>
                    <li class="workli">
                        <h4>Hagkaup, 2016</h4> 
                        <p>Vegetables and Fruits Department</p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 work">
                <ul>
                    <li class="workli">
                        <h4>Web 2 Automation, 2015</h4>  
                        <p>Web Developer</p>
                    </li>
                    <li class="workli">
                        <h4>Modal Creative, 2014</h4> 
                        <p>Web Designer</p>
                    </li>
                    <li class="workli">
                        <h4>Portosigns, 2012 - 2013</h4> 
                        <p>Website Maintenance & Branding</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
