<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/cbpAnimatedHeader.js"></script>
    <script type="text/javascript" src="/js/cbpAnimatedHeader.min.js"></script>
    <script type="text/javascript" src="/js/classie.js"></script>
    <script type="text/javascript" src="/js/contact_me_static.js"></script>
    <script type="text/javascript" src="/js/contact_me.js"></script>
    <script type="text/javascript" src="/js/freelancer.js"></script>
    <script type="text/javascript" src="/js/jqBootstrapValidation.js"></script>
    <script type="text/javascript" src="/js/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="/js/jquery.easing.min.js"></script>
<title>Sofia Basílio</title>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    {% include header.html %}
    {% include portfolio_grid.html %}
    {% include about.html %}
    {% include education.html %}
    {% include work.html %}  

    {% if site.contact == "static" %}
    {% include contact_static.html %}
    {% elsif site.contact == "disqus" %}
    {% include contact_disqus.html %}
    {% else %}
    {% include contact.html %}
    {% endif %}
    
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    </body>
</html>